<!--reactive form control-->
<div>
  <form [formGroup]="inputForm" (ngSubmit)="addWagon()" >
    <input  formControlName="name" class="form-control"  type="text" name="manufacturerName">
    <input  formControlName="number" type="text" name="wagonNumber" class="form-control">
    <input formControlName="condition" type="text" name="condition" class="form-control">
    <button type="submit" [disabled]="inputForm.invalid">new Wagon</button>
  </form>
</div>

<!--template driven form -->
<div>
  <form>
    <input type="text" name="editName" id="editName" [(ngModel)]="editName" (ngModelChange)="validateName($event)">
    <input type="number" name="editNumber" id="editNumber" [(ngModel)]="editNumber" (ngModelChange)="validateWagon($event)">
    <input type="text" name="editCondition" id="editCondition"  [(ngModel)]="editCondition">
  </form>
  <table>
    <tr>
      <th>Manufacturer</th>
      <th>Number</th>
      <th>Condition</th>
      <th>Type</th>
    </tr>
    <tr *ngFor="let wagon of wagons; let i = index">
      <td>{{wagon.manufacturerName}}</td>
      <td>{{wagon.wagonNumber}}</td>
      <td>{{wagon.condition}}</td>
      <td>{{wagon.wagonType}}</td>
      <td><button (click)="deleteWagon(i)">Delete</button></td>
      <td><div id="editSection" #editSection>
        <button (click)="updateWagon(i)" [hidden]="notValide">Update</button>
      </div></td>
    </tr>
  </table>
</div>


