<!--<input type="text" [(ngModel)]="wagons.manufa">-->
<!--<input type="number">-->
<!--<select>-->
<!--  <option value="work">Work</option>-->
<!--  <option value="broken">Broken</option>-->
<!--  <option value="underRepair">Under repair</option>-->
<!--</select>-->
<!--<button (click)="addWagon()">Add</button>-->

<!--<table>-->
<!--  <tr>-->
<!--    <th>Manufacturer</th>-->
<!--    <th>Number</th>-->
<!--    <th>Condition</th>-->
<!--  </tr>-->
<!--  <tr *ngFor="let wagon of wagons">-->
<!--    <td>{{wagon.manufacturerName}}</td>-->
<!--    <td>{{wagon.wagonNumber}}</td>-->
<!--    <td>{{wagon.condition}}</td>-->
<!--  </tr>-->
<!--</table>-->
<app-wagons></app-wagons>
